header {
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
     
}

body{margin: 0;
}
.header_menuBtn{
    color: #423F3F;
}

button{
background-color: white;
border: none;

}

.croix {

    position: absolute;
    whith: 10%;
    top: 10px;
    left: 12px;
}