header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
     
}

body{margin: 0;
}
.header_menuBtn{
    color: #423F3F;
}

button{
background:  transparent;
border: none;
position: absolute;
    top: 20px;
    left: 20px;

}


.plusdinfo{

    position: relative;
    background-color: gray;
    color: #000;
    
    margin: 20px;
    padding: 10px;
    align-items: center;
    /* align-content: center; */
    display: flex;
    border-color: #000;
    border: 2px solid;

}


.croix {

    background: none;
    
}
.boutonme {
    background: none;
    margin: 7px;
}


.bar
{ 

    height:4px;
    width:100%;
    background-color:black;
    padding:    0;
    
    
}

.list-menu{
list-style: none;
padding-bottom: 30px;
align-items: center;

}