header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
     
}

body{margin: 0;
}
.header_menuBtn{
    color: #423F3F;
}

button{
background:  transparent;
border: none;
position: absolute;
    top: 20px;
    left: 20px;

}

.croix {

    background: none;
    
}
.boutonme {
    background: none;
    margin: 7px;
}



